body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #edb9a9;
  color: #333;
  margin-bottom: 40px;
}
header {
  background: #123456;
  color: white;
  padding: 20px;
  text-align: center;
}
header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}
header nav a:hover {
  text-decoration: underline;
}
main {
  padding: 20px;
  text-align: center;
  margin: 10px;
}
footer {
  text-align: center;
  padding: 10px;
  background: #51ab96;
  margin-top: 20px;
}

div {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
